@page

@{
}
<style>
    .well-sm{
        margin-right:60px;
        margin-left:10px;
        width:500px;
    }
</style>
<a asp-page="Create">New Tasks</a>

<div class="row">
    <div class="well well-sm col-sm-4">
        <center>
            <h3>In Process (Planned)</h3>
            <hr />
        </center>
        <table class=" table table-bordered">
            <tr>
                <th>Project Name</th>
                <th>Project Manager</th>
                <th>Start Date</th>
                <th>Edit</th>
                <th>Update</th>
            </tr>
            <tr>
                <td>Re-Design Patio</td>
                <td>Kayla Shell</td>
                <td>Aug 8, 2018</td>
                <td>Edit</td>
                <td>Update</td>
            </tr>
            <tr>
                <td>Replace Floors</td>
                <td>Kayla Shell</td>
                <td>Sep 7, 2018</td>
                <td>Edit</td>
                <td>Update</td>
            </tr>
        </table>
    </div>
    <div class="well well-sm col-sm-4">
        <center>
            <h3>In Process (Not Planned)</h3>
            <hr />
        </center>
        <table class=" table table-bordered">
            <tr>
                <th>Project Name</th>
                <th>Project Manager</th>
                <th>Start Date</th>
                <th>Edit</th>
                <th>Update</th>
            </tr>
            <tr>
                <td>Replace Water Pipes</td>
                <td>Jimmy John</td>
                <td>Oct 8, 2018</td>
                <td>Edit</td>
                <td>Update</td>
            </tr>
            <tr>
                <td>Replace Light Bulbs</td>
                <td>Kayla Shell</td>
                <td>Oct 7, 2018</td>
                <td>Edit</td>
                <td>Update</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="well well-sm col-sm-4">
        <center>
            <h3>Previous Projects</h3>
            <hr />
        </center>
        <table class=" table table-bordered">
            <tr>
                <th>Project Name</th>
                <th>Project Manager</th>
                <th>Project Length</th>
                <th>Edit</th>
                <th>Update</th>
            </tr>
            <tr>
                <td>Replace Resident Doors</td>
                <td>Shelia Brooks</td>
                <td>3 Months</td>
                <td>Edit</td>
                <td>Update</td>
            </tr>
        </table>
    </div>
    <div class="well well-sm col-sm-4">
        <center>
            <h3>Future Projects</h3>
            <hr />
        </center>
        <table class=" table table-bordered">
            <tr>
                <th>Project Name</th>
                <th>Project Manager</th>
                <th>Edit</th>
                <th>Update</th>
            </tr>
            <tr>
                <td>Reimage Comp Lab</td>
                <td>Mike Edwards</td>
                <td>Edit</td>
                <td>Update</td>
            </tr>
        </table>
    </div>
</div>
