@page
@model FiveSTAR_tracking.Pages.Tasks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Projects.TaskName" class="control-label"></label>
                <input asp-for="Projects.TaskName" class="form-control" />
                <span asp-validation-for="Projects.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects.Task_Est_Cost" class="control-label"></label>
                <input asp-for="Projects.Task_Est_Cost" class="form-control" />
                <span asp-validation-for="Projects.Task_Est_Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects.Task_Act_Cost" class="control-label"></label>
                <input asp-for="Projects.Task_Act_Cost" class="form-control" />
                <span asp-validation-for="Projects.Task_Act_Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects.idVendor" class="control-label"></label>
                <input asp-for="Projects.idVendor" class="form-control" />
                <span asp-validation-for="Projects.idVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects.Date" class="control-label"></label>
                <input asp-for="Projects.Date" class="form-control" />
                <span asp-validation-for="Projects.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects.HoursWorked" class="control-label"></label>
                <input asp-for="Projects.HoursWorked" class="form-control" />
                <span asp-validation-for="Projects.HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects.idUsers" class="control-label"></label>
                <input asp-for="Projects.idUsers" class="form-control" />
                <span asp-validation-for="Projects.idUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
